<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Mission to Mars</title>
  </head>
  <body>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>
    
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-md-12">
                <h3><strong>Latest Mars News</strong></h3>
                <br>
                <h4><strong>{{ mars_data.news_title }}</strong></h4>
                <p>{{ mars_data.news_p }}</p>
            </div>
        </div>
    </div>
    <br>    
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-md-8">
                    <h3><strong>Featured Mars Image</strong></h3>
                    <br>
                    <img src = "{{ mars_data.featured_image_url }}" alt = "Featured Image of Mars" style = "max-width: 800px; max-height: 500px">
            </div>
            <div class="col-md-4">
              <div class="col-md-12" style= "border: solid; border-width: 1px;">
                <h4>Current Weather on Mars</h4>
                <p>{{mars_data.mars_weather}}</p>
              </div>
            <div class = "col-md-12">
                <div class = "card-body">
                    <h5 class = "card-title"><strong>Mars Facts</strong></h5>
                    <p>{{ mars_data.mars_facts | safe }}</p>
                    
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <h3 align = "center"><strong>Mars Hemisphere</strong></h3>
    <hr>

    <div class = "container-fluid">
        <div class = "row">
            
                {% for data in mars_data.hemisphere_image_urls %}
                <div class = "col-md-6">
                    <figure class = "figure"> 
                        <img class = "figure-img img-fluid rounded" src = "{{ data.img_url }}" alt = "Featured Image of Mars" style = "max-width: 600px; max-height: 600px; padding-left: 60px">
                        <figcaption class = "figure-caption" style="color:black; padding-left: 60px"><strong>{{ data.title }}</strong></figcaption>
                    </figure>
                </div>
                {% endfor %}
            
        </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
